@model IEnumerable<UniProject.Models.MyBooks>

@{
    ViewData["Title"] = "Index";
}

<h3 class="text-center">My Books</h3>
<hr />

<div class="row  row-cols-1 row-cols-md-3 mb-3 text-center">
        @foreach (var item in Model) {
            if(item.Email == GlobalVars.currentUserEmail) //Show only books that belong to the current user!
            {
                <div class="col">
                   <div class="card mb-4">
                    <img class="card-img-top embed-responsive-item" src="@Url.Content(item.Image)" alt="Image" style="width: 100%; height: 30vh; object-fit: contain;" />
                      <div class="card-header">
                        <h7 class="card-title">Title: @item.Title</h7>
                      </div>
                      <div class="card-body">
                            <h7>Author: @item.Author</h7>
                            <br />  
                            <h7>ISBN: @item.isbn</h7>
                            <br/>
                            <h7>Category: @item.Category</h7>
                            <br/>
                            <h7>Publication year: @item.PublicationYear</h7>
                            <br/>
                            <a class="btn btn-danger" asp-action="removeBookFromSaved" asp-route-id="@item.BookId">
                                    <i class="fa-solid fa-xmark"></i>
                             </a>
                      </div>
                    </div>
                </div>
            }
        
        }
</div>
