@{
    string user = GlobalVars.currentUser;
    bool isUserLoggedIn = GlobalVars.isLoggedIn;
    bool isUserAdmin = GlobalVars.isCurrentUserAdmin;

    string loggingStatus = "Login";
    string homePage = "";
    string registerPage = "Register";
    string adminPanel = "";
    string myBooks = "";

    @if (isUserLoggedIn == true) //if user is logged in 
     {
        //change navbar data
        loggingStatus = "Logout"; 
        homePage = "Books";
        registerPage = "";
        myBooks = "My Books";
    }
     else //if not logged in change navbar data
     {
        loggingStatus = "Login";
        homePage = "";
        registerPage = "Register";
        myBooks = "";

    }
    if (isUserAdmin == true) //if the user is admin
    {
        adminPanel = "Admin Panel"; //show the admin panel in the navbar
    }
    //the last link is for the icons styles used for buttons

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Books Library</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UniProject.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Books Library</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="Index"> @homePage</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Accounts" asp-action="Index">@adminPanel</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MyBooks" asp-action="Books">@myBooks</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-grow-2">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Accounts" asp-action=@registerPage>@registerPage</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action=@loggingStatus>
                                @loggingStatus
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark"> @user </a> 

                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="col-md-8 offset-md-2">
                @RenderBody()
            </div>
            
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
